*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #FFFFFF;
}
#dashboard-heading{
    margin: 0 auto;
    font-weight: bolder;
}
.detail-container{
    display: flex;
    margin-left: 100px;
    margin-top: 40px;
    width: 1200px;
    /* border: 4px solid purple; */
}
.revenue-container{
    width: 250px;
    height: 150px;
    /* border: 3px solid red; */
    background-color: #111111;
    color: #FFFFFF;
    border-radius: 10px;
    margin-right: 20px;
}
.revenue-heading{
    display: flex;
}
.revenue-heading i {
    margin-top: 30px;
    margin-left: 80px;
}
.customer-container{
    border-radius: 10px;
    background-color: #111111;
    color: #FFFFFF;
    width: 250px;
    height: 150px;
    margin-right: 20px;
    /* flex-wrap: wrap; */
    
    /* border: 3px solid green; */
}
.customer-container a{
    text-decoration: none;
    color: #FFFFFF;
}
.heading {
    display: flex;
    width: 250px;

}
.customer-container:hover{
    background-color: crimson;
    border: none;
}
.revenue-container:hover{
    background-color: crimson;
    border: none;
}
.revenue-container h6{
    margin-top: 20px;
    margin-left: 30px;
    
}
.revenue-container h3{
    margin-top: 30px;
    margin-left: 20px;
    
}
.customer-container h6{
    margin-top: 20px;
    margin-left: 20px;
}
.customer-container i {
    margin-top: 30px;
    margin-left: 80px;
}
.customer-container h3{
    margin-top: 30px;
    margin-left: 30px;
}
.order-container{
    border-radius: 10px;
    background-color: #111111;
    color: #FFFFFF;
    width: 250px;
    height: 150px;
    margin-right: 20px;
    text-decoration: none;

}
.order-container a {
    text-decoration: none;
    color: white;
}
.order-container:hover{
    background-color: crimson;
}
.order-heading{
    display: flex;
    width: 250px;
    margin-top: 20px;
    margin-left: 30px;


}
.order-container i{
    margin-left: 90px;
    margin-top: 10px;
}
.order-container h3{
    margin-top: 30px;
    margin-left: 30px;
}
.products-container{
    border-radius: 10px;
    background-color: #111111;
    color: #FFFFFF;
    width: 250px;
    height: 150px;
}
.products-container a{
    text-decoration: none;
    color: white;

}
.products-container:hover{
    background-color: crimson;
}
.products-container h3{
    margin-top: 30px;
    margin-left: 30px;
}
.product-heading{
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
}
.product-heading i {
    margin-left: 90px;
}