*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

.footer-content-container{
    display: flex;
}
.logo {
    display: flex;
    margin-left: 200px;
    margin-top: 40px;
    
}
.logo a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem;
}

.footer-payment-container h2{
    color: #FFFFFF;
    
    
}
.icon-location{
    margin-left: -100px;
    margin-top: 40px;
<<<<<<< HEAD
}
i{
    margin-bottom: 40px;
=======

}
i{
    margin-bottom: 40px;
    color: #01E203;
>>>>>>> b268b30 (Added Php Mailer Changed Login Page)
}
.detail{
    margin-top: 40px;
}
.detail p{
    font-size: 1.3rem;
    color:#FFFFFF;
    margin-bottom: 24px;
    margin-left: 10px;
}
.footer-payment-container{
    margin: 40px ;
    margin-left: 300px;
    text-align: center;
}
/* .payment-images{
} */
.payment-images img{
    width: 80px;
    height: 25px;
    margin-top: 10px
    
}
/* connect with us styling */
.footer-social-container h2{
    color:#FFFFFF;
}
.footer-social-container{
    margin: 40px ;
    margin-left: 150px;
}
.footer-social-container i{
    margin-top: 20px;
    margin-right: 20px;
}
.footer-social-container a {
    text-decoration: none;
    color: #FFFFFF;
}
.footer-social-container i:hover{
<<<<<<< HEAD
    color: crimson;
=======
    color: #01E203;
>>>>>>> b268b30 (Added Php Mailer Changed Login Page)

}
.footer-copyright p {
    font-style: normal;
    margin-left: 200px;
    color: #FFFFFF;
    
}
.footer-copyright hr {
<<<<<<< HEAD
    border-color: crimson;
=======
    border-color: #01E203;
>>>>>>> b268b30 (Added Php Mailer Changed Login Page)
    margin-left: 200px;
    margin-right: 250px;
    margin-bottom: 20px;
}

.footer-container{
    border: none;
    width: 100%;
    height: 355px;
<<<<<<< HEAD
    background-color: #111111;
=======
    background-color: #1A2C38;
>>>>>>> b268b30 (Added Php Mailer Changed Login Page)
    /* background-color: red; */
    /* width: 2000px; */


}