*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #1A2C38;
    
}
/* Nav Bar Styling */
.container-header{
    background: #1A2C38;
    border: none;
    position: sticky;
    top:0;
    height: 65px;
    /* z-index:inherit; */
}
.container-logo img{
    width: 150px;
    margin-top: 5px;
    margin-left: 30px;
    text-align: center;
}
.container-logo a{
    position: absolute;
    left:190px;
    font-size: 2rem;
    top: 10px;
    color: #7F7F7F;

}
.container-center input{
    position:relative;
    top: 10px;
    left: 50vh;
    width:675px;
    height: 45px;
    border-radius: 8px;
    text-align: left 10px;
    /* font-size: 10px; */
}
.btn-search input {
    width: 80px;
    position: absolute;
    margin-top: 8px;
    margin-left:570px ;
    height: 30px;
    background: transparent;
    border: none;
}
.btn-search input:hover{
    background-color: #00E701;
    color: #F6F7F9;
    border: 1px solid #00E701;
    border-radius: 10px;
}
.container-right {
    display: flex;
}
.icon-container{
    display: flex;
    margin-left: 1115px;
    margin-top: -20px;

}
.search i{
    margin-left: -90px;
    transform: scaleX(-1);
}
.icon-cart{
    color: white;
    margin-left: -20px;
}

.icon-wallet i{
    padding: 0px 40px;
}
.container-nav{
    display: flex;
    position: absolute;
    left: 225px;
    color: #1A2C38;
}
.container-nav ul{
    display: flex;
    position: relative;
    top: 25px;
    align-items: center;

}.container-nav ul li{
    list-style: none;
    margin-right: 40px;
    font-size: 1rem;
    font-weight: bold;
    
    
}
.container-nav ul li a{
    text-decoration: none;
    color: #7F7F7F;
    
}
.container-nav ul li a:hover{
    color: #00E701;
}
.account-content-container {
    margin-top: -10px;
    margin-left: 10px;
    
}
.account-content-container a{
    color: white;
    text-decoration: none;
}
/* .nav-gif img{
    display: block;
    margin-top: 18px;

} */
/* Nav Bar Styling ends here */
/* Product  category styling */

/* Test */

  /* Test ends here  */
