*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
}
.main-container{
    display: flex;
    /* border: black 6px solid ; */
    height: 90vh;
    width: 1300px;
    margin: 0 auto;
    margin-top: 85px;
    margin-bottom: 10px;     
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     border-radius: 8px;
}
.order-container{

    /* border: 4px red solid; */
    width: auto;
    height:635px;
    FLOAT: left;
    margin-left: 2%;
    padding: 1%;
    overflow-y:scroll;
    overflow-x: hidden;
 
}
.order-main{

    /* display: flex; */
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 40px;
    /* border: 2px solid red; */
}
.content-container h3{
    margin-left: 30px;

}

.order-container img{
    height: 100px;
    width: 100px;
}
.payment-container{
    width: 650px;
}
.shipping-container h4{
    font-family: sans-serif;
    font-size: 1rem;
    margin: 10px 0px;
    margin-left: 80px;
    
}
.shipping-container h2{
    margin-top: 10px;
}
.pay-container{
    margin-top: 40px;
    font-weight: bolder;
}
.pay-container span{
    font-family: sans-serif;
    font-size: 2rem;
    margin-left: 10px;

}
.pay-container input{
    margin-left:20px ;
}
table{
    border-collapse: collapse;
    
}
table thead th{
    padding: 10px;
    margin-left: 10px;
    text-align: center;
}
table tbody {
    padding: 10px;
    
}
table tbody td{
    font-size: 1rem;
    text-align: center;

}
table tbody tr{ 
    margin-top: 100px;
}
.total-container{
    margin-top: 40px;
    position: relative;
    left: 250px;
}
.order-container .total-container h1{
    margin-bottom: 10px;
    font-size: 2.5rem;
}
.order-container .total-container span{
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.shipping-container h1{
    margin-top: 15px;
    margin-left: 40px;
}
.shipping-container span{
    margin-left: 60px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: sans-serif;
}
.shipping-container input{
    margin-bottom: 20px;
    width: 300px;
    align-items: center;
    height: 50px;
    border: none;
    margin-left: 20px;
    text-transform: uppercase;
}
.pay-container h1{
    margin-bottom: 20px;

}
.pay-container input[type='radio']{
    width: 30px;
    height: 30px;
    color: crimson;
        }
.pay-container .cod{
    font-size: 2rem;
}
.pay-container input[type='submit']{
    height: 45px;
    width: 120px;
    border-radius:8px ;
    background-color: #111111;
    border: transparent;
    color: #ffffff;
    font-size: 1rem;
    margin-top: 50px;
    float: right;
}
.pay-container input:hover{
    background-color: crimson;
    border: transparent;

}.pay-container  img{
    height:50px ;
    width:50px;
}