section {
    /* width: vh; */
    /* border: 3px solid red; */
}
#form{
    /* height: 0vh; */
}
.card{
    /* border: 3px solid red; */
    height: 90vh;
    margin-top: 60px;

}
#btn-register{
    color: #FFFFFF;
    border: none;
    
}
#btn-register input{
    background-color: #000000;
    color: #FFFFFF;
    
}
#btn-register input:hover{

    background-color: crimson;
    color: #FFFFFF;
}