/* all similar content styling codes */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
html{
    scroll-behavior: smooth;
}
/* Login Page styling Codes */
body{
    background-color: #FFFFFF;
    margin: 10px 0px  10px 10px;
      padding: 0;
      height: 100vh;
      display: flex;
    }

    .left {
      flex: 1;
      background-color: crimson;
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
      background-image: url(../images/login_page_background.jpg);
      background-size: contain;
    }

    .right {
        flex: 1;
        background-color: #FFFFFF;
    }
    .right .form-body{
        position: absolute;
        top: 35%;
        left: 60%;
        /* transform: translate(-50%, -50%); */

    }
    .heading{
        font-size: 3rem;
        position: relative;
        top: -30px;
        color: crimson;
    }
    .login-page{
        position: relative;
        top: -20px;
        color: #000000;
        font-size: 1.5rem;
        
    }
    .form-div input{
        margin-top: 2px;
        padding: 8px;
        border-radius: 8px;
        background-color: transparent;
        border-color: #000000;
        color: crimson;
        font-size: 1rem;
        
    }
    .form-div label {
        position:relative;
        left: 10px;
        color: #000000;
        font-size: 1.3rem;
    }
    .loggedin{
        color: #000000;
        margin-top: 10px
    }
    .btn-login input{
        position: relative;
        top: 4vh;
        left: 10vh;
        background-color: #000000;
        color: #FFFFFF;
        padding: 10px  90px;
        border: none;
        font-size: 1.5rem;
    }
    .forgot span a{
        text-decoration: none;
        color: #FC671A;
        position: relative;
        top: 6vh;
        left: 17vh;
        color: #000000;
    }
    .btn-login input:hover{
        background-color: crimson;
        color: #000000;
        border-color: transparent;
        cursor: pointer;
    }
    .forgot span a :hover{
        color: crimson;
    }
    .p{
        color: crimson;
    }
    .signup  {
        margin-left: 20px;
        text-decoration: none;
    }
    .signup p a {
        text-decoration: none;
    }